# Node.js dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Vite build output
dist/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & temp files
npm-debug.log*
*.log
